// Poppins!!!!
@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins/PoppinsRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins/PoppinsBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins/PoppinsSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('@/assets/fonts/Poppins/PoppinsMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
// Poppins!!!!


// Inter!!!!
@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter/Inter_18ptMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('@/assets/fonts/Inter/Inter_18ptSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
// Inter!!!!


// Manrope!!!!
@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope/ManropeExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src: url('@/assets/fonts/Manrope/ManropeSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
// Manrope!!!!


// Outfit!!!!
@font-face {
  font-family: 'Outfit';
  src: url('@/assets/fonts/Outfit/OutfitMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('@/assets/fonts/Outfit/OutfitRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('@/assets/fonts/Outfit/OutfitSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
// Outfit!!!!


// DM Sans!!!!
@font-face {
  font-family: 'DM Sans';
  src: url('@/assets/fonts/DM_Sans/DMSansBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
// DM Sans!!!!


// Public Sans!!!!
@font-face {
  font-family: 'Public Sans';
  src: url('@/assets/fonts/Public_Sans/PublicSansBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: url('@/assets/fonts/Public_Sans/PublicSansSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
// Public Sans!!!!


// Roboto!!!!
@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/RobotoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('@/assets/fonts/Roboto/RobotoBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
// Roboto!!!!


// Urbanist!!!!
@font-face {
  font-family: 'Urbanist';
  src: url('@/assets/fonts/Urbanist/UrbanistBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
// Urbanist!!!!


// Plus Jakarta Sans!!!!
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('@/assets/fonts/Plus_Jakarta_Sans/PlusJakartaSansMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
// Plus Jakarta Sans!!!!