// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Poppins", sans-serif;
  --second-family: "Inter", sans-serif;
  --third-family: "Manrope", sans-serif;
  --font3: "Outfit", sans-serif;
  --font4: "DM Sans", sans-serif;
  --font5: "Public Sans", sans-serif;
  --font6: "Roboto", sans-serif;
  --font7: "Urbanist", sans-serif;
  --font8: "Plus Jakarta Sans", sans-serif;
  --content-width: 1236px;
  --content-fluid-width: 1500px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
}
