// базовые подключения
@import "vars";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "components/header";

.no-scroll {
  overflow: hidden;
}

.main-button{
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
  color: #fff;
  border-radius: 16px;
  background: #141416;
  text-align: center;
  transition: all .5s ease;
  @media (max-width: 1200px) {
    font-size: 11px;
  }
  &:focus{
    outline: none;
  }
  @media(hover:hover){
    &:hover{
      color: #4a4a4a;
      background: #d3d3d3;
    }
  }
  &:active{
    color: #353535;
    background: #888888;
  }
}

.nav{
  &__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__link{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 150%;
    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }
}

.mobile-menu{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main-title{
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 45px;
  line-height: 99%;
  color: #141416;
  @media (max-width: 1200px) {
    font-size: 32px;
  }
}

.main-name{
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
  color: #141416;
  @media (max-width: 1200px) {
    font-size: 19px;
  }
}

.main-nickname{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
  color: #64748b;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
}

.main-volume{
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #141416;
  @media (max-width: 1200px) {
    font-size: 17px;
  }
}

.main-percents{
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #10c352;
  @media (max-width: 1200px) {
    font-size: 17px;
  }
}

.main-price{
  margin: 0;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #141416;
  @media (max-width: 1200px) {
    font-size: 17px;
  }
}

.main-owners{
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #010101;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
}

.main-items{
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 23px;
  line-height: 130%;
  letter-spacing: 0.01em;
  color: #010101;
  @media (max-width: 1200px) {
    font-size: 16px;
  }
}

.text-with-bg{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-image: url('../../../public/rate-png.png');
    top: 0;
    left: -35px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 31px;
    height: 31px;
    @media (max-width: 1200px) {
      left: -20px;
      width: 22px;
      height: 22px;
    }
  }
}

.explore-all{
  display: flex;
  align-items: center;
  margin-left: auto;
  &__text{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 226%;
    letter-spacing: -0.01em;
    text-align: right;
    color: #acadb9;
    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }
  &__svg{
    margin-left: 17px;
    @media (max-width: 1200px) {
      margin-left: 11px;
    }
  }
}

.loader {
  border: 4px solid #f3f3f3; /* Светлый серый цвет */
  border-top: 4px solid #000; /* Синий цвет */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}
.sec-loader{
  margin: 200px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
  z-index: 1000; /* Уровень отображения затемнения */
  &__loader{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }
}

.hidden{
  display: none !important;
  visibility: hidden;
}

.profile-background{
  background-size: cover;
  background-position: 50%;
  min-height: 210px;
}

.uploader-preview {
  //width: 100%;
  border-radius: 3px;
  overflow: hidden;
  margin-left: 16px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
  @media (max-width: 600px) {
    margin-left: 0;
  }
}

.uploader-preview__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.uploader_background .uploader-preview {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
@media (max-width: 600px) {
  .uploader_background .uploader-preview, .uploader_background .uploader-trigger {
    height: 110px !important;
    width: 100% !important;
  }
}

@media (min-width: 561px) {
  .settings-upload .uploader_background .uploader-preview, .settings-upload .uploader_background .uploader-trigger {
    height: 160px;
  }
}

.modal{
  position: fixed;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  border: 2px dashed #FF0000FF;
  border-radius: 3px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  line-height: 125%;
  color: #FF0000FF;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.error{
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 13px;
  line-height: 125%;
  color: #ff0000;
}

.burger{
  margin-left: auto;
  display: block;
  width: 30px;
  height: 22px;
  position: relative;
  padding: 0;
  z-index: 100000;
  @media (min-width: 750px) {
    display: none;
  }
  &__line{
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #908f8f;
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  &::before, &::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #908f8f;
    transition: all 0.5s ease;
  }
  &::before{
    top: 0;
  }
  &::after{
    bottom: 0;
  }
  &.active-burger::before{
    top: 10px;
    rotate: -45deg;
  }
  &.active-burger::after{
    bottom: 10px;
    rotate: 45deg;
  }
  &.active-burger .burger__line{
    display: none;
  }
}